# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/dashboard/node_modules
/dashboard/.pnp
/dashboard/.pnp.js
/nodeapp/node_modules

# testing
/dashboard/coverage

# production
/dashboard/build

# misc
/dashboard/.DS_Store
/dashboard/.env.local
/dashboard/.env.development.local
/dashboard/.env.test.local
/dashboard/.env.production.local

/dashboard/npm-debug.log*
/dashboard/yarn-debug.log*
/dashboard/yarn-error.log*

/nodeapp/lib-cov
/nodeapp/*.seed
/nodeapp/*.log
/nodeapp/*.csv
/nodeapp/*.dat
/nodeapp/*.out
/nodeapp/*.pid
/nodeapp/*.gz
/nodeapp/*.swp

/nodeapp/pids
/nodeapp/logs
/nodeapp/results
/nodeapp/tmp

# Build
/nodeapp/public/css/main.css

# Coverage reports
/nodeapp/coverage

# API keys and secrets
/nodeapp/.env

/nodeapp/# Dependency directory
/nodeapp/node_modules
/nodeapp/bower_components

# Editors
/nodeapp/.idea
/nodeapp/*.iml

# OS metadata
/nodeapp/.DS_Store
/nodeapp/Thumbs.db

# Ignore built ts files
/nodeapp/dist/**/*

# ignore yarn.lock
/nodeapp/yarn.lock