# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/dashboard/node_modules
/dashboard/.pnp
/dashboard/.pnp.js
/c2-status/node_modules

# testing
/dashboard/coverage

# production
/dashboard/build

# misc
/dashboard/.DS_Store
/dashboard/.env.local
/dashboard/.env.development.local
/dashboard/.env.test.local
/dashboard/.env.production.local

/dashboard/npm-debug.log*
/dashboard/yarn-debug.log*
/dashboard/yarn-error.log*

/c2-status/lib-cov
/c2-status/*.seed
/c2-status/*.log
/c2-status/*.csv
/c2-status/*.dat
/c2-status/*.out
/c2-status/*.pid
/c2-status/*.gz
/c2-status/*.swp

/c2-status/pids
/c2-status/logs
/c2-status/results
/c2-status/tmp

# Build
/c2-status/public/css/main.css

# Coverage reports
/c2-status/coverage

# API keys and secrets
/c2-status/.env

/c2-status/# Dependency directory
/c2-status/node_modules
/c2-status/bower_components

# Editors
/c2-status/.idea
/c2-status/*.iml

# OS metadata
/c2-status/.DS_Store
/c2-status/Thumbs.db

# Ignore built ts files
/c2-status/dist/**/*

# ignore yarn.lock
/c2-status/yarn.lock